{% extends 'base.html' %}
{% block body %}
    <h2>{{the_title}}</h2>
    <form method="post" action="/exe_operacion">
       <table>
           <p>ingresar las medidas de un Ortoedro para calculas sus medidas </p>
           <tr>
               <td>a:</td>
               <td><input type="number" name="a" /></td>
           </tr>
           <tr>
               <td>b:</td>
               <td><input type="number" name="b" /></td>
           </tr>
            <tr>
               <td>c:</td>
               <td><input type="number" name="c" /></td>
           </tr>
         </table>
       <p><input type="submit" name="btn_calc"
         value="Calcular Volumen" /></p>
    </form>
{% endblock%}